name: php 7.2

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run:    
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, macOS-latest, windows-latest]
        php-versions: ['7.2']
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: intl, gd #optional
        ini-values: "post_max_size=256M" #optional
        
    - name: Check PHP Version
      run: php -v
      
    - name: Validate composer.json and composer.lock
      run: composer validate

    - name: Cache Composer packages
      id: composer-cache
      uses: actions/cache@v2
      with:
        path: vendor
        key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-php-

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: composer install --prefer-dist --no-progress --no-suggest
      
    - name: Run test suite
      run: |
        mkdir -p build/logs
        vendor/bin/phpunit  tests --verbose --coverage-clover build/logs/clover.xml 
      
    - name: Run psalm
      run: vendor/bin/psalm  --show-info=true
      
    
    
    - name: Code coverage
      if: matrix.operating-system != 'windows-latest'
      run: |        
        wget https://scrutinizer-ci.com/ocular.phar
        php ocular.phar code-coverage:upload  --format=php-clover build/logs/clover.xml
        
    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    # - name: Run test suite
    #   run: composer run-script test
